<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="Style.css">
    <title>phoneBook</title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-12"><h1 v-html="title"></h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-12">
                <form @submit.prevent="addTodo" class="form-inline mb-4">
                    <label>
                        <input type="text" v-model="name" id="name" placeholder="Имя*"
                               class="form-control  mr-sm-2">
                    </label>
                    <label>
                        <input type="text" v-model="lastName" id="lastName" placeholder="Фамилия*"
                               class="form-control  mr-sm-2">
                    </label>
                    <label>
                        <input type="text" v-model="numberPhone" id="numberPhone"
                               placeholder="Номер телефона*" class="form-control mr-sm-2">
                    </label>
                    <div>
                        <button type="submit" class="btn btn-success mr-sm-2  addButton">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered contactTable">
                    <thead class="thead-dark">
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Номер телефона</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(person, index) in contacts">
                        <td v-text="index+1+'.'"></td>
                        <td><span v-text="person.name"></span></td>
                        <td><span v-text="person.lastName"></span></td>
                        <td><span v-text="person.numberPhone"></span></td>
                        <td>
                            <button class="btn btn-danger" @click="remove(index)">X</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="PhoneBook.js"></script>
</body>
</html>