<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <title>phoneBook</title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-12"><h3 v-html="title"></h3></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form @submit.prevent="addTodo" class="input-group mb-3">
                    <label>
                        <input type="text" v-model="name" id="name" placeholder="Введите Ваше имя!">
                    </label>
                    <label>
                        <input type="text" v-model="lastName" id="lastName" placeholder="Введите Ваше имя!">
                    </label>
                    <button type="submit" class="btn btn-success">Add!</button>
                </form>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>lastName</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in items">
                            <td v-text="index+1"></td>
                            <td><span v-text="name.item"></span></td>
                            <td><span v-text="lastName.item"></span></td>
                            <td>
                                <button class="btn btn-danger" @click="remove(index)">X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="PhoneBook.js"></script>
</body>
</html>