.addButton {
    margin-left: 2.5%;
    margin-bottom: 5px;
    height: 38px;
}

.enterField1 {
    margin-left: 5%;
}

.enterField2 {
    margin-left: 10%;
}

.contactTable {
    margin-top: 12px;
}
