.table_client {
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
    width: 650px;
    color: #464646;
    font-weight: 400;
}

.table_client th {
    border: 2px solid #e5e5e5;
    height: 45px;
    color: white;
    background: #3498db;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
}

.table_client td {

    border: 1px solid #e5e5e5;
    padding: 12px;
}

.table_client tr:nth-child(2n+1) {
    background: #eeeeee;
}

.table_client tr {
    background: white;
    border: 1px solid #e5e5e5;
}
