body {
    max-height: 100%;
    min-height: 50%;
    max-width: 1200px;
}

.table_client {
    border: 1px solid #CCCCC7;
    border-collapse: collapse;
    width: 95%;
    height: 95%;
    color: #464646;
    font-weight: 400;
    font-family: Arial, sans-serif;
    line-height: 30px;
    margin: 2.5%;
}

.table_client th {
    border: 1px solid #CCCCC7;
    color: white;
    background: #3498db;
    font-weight: 500;
    text-align: left;
    padding: 10px;
}

.table_client td {
    border: 1px solid #CCCCC7;
    padding: 12px;
}

.table_client tr:nth-child(2n+1) {
    background: #eeeeee;
}

.table_client tr {
    font-size: 1.1em;
}

.long_th cell {
    width: 40%;
}

. table_cell {
    width: 20%;
}