body {
    color: #868484;
    max-height: 100%;
    min-height: 100%;
    max-width: 1200px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.all_content {
    width: 96%;
    height: 50%;
    background: #feeed6;
    padding: 11px 2% 4px;
}

.all_content h1 {
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 5px;
}

.text p {
    text-indent: 15px;
    line-height: 20px;
}

.all_content b {
    color: #378db2;
}

.comment {
    font-family: Arial, serif;
    font-size: 18px;
    position: center;
}

.text {
    text-align: justify;
    line-height: 20px;
}

.indent {
    padding-top: 9px;
}
