<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/libs/bootstrap.css">
</head>
<body>
{% block body %}{% endblock %}
<script src="/libs/require.js"></script>
<script>
    require.config({
            baseUrl: "javascripts",
            deps: ["phoneBook"],
            paths: {
                jquery: "../libs/jquery",
                bootstrap: "../libs/bootstrap.bundle",
                vue: "../libs/vue"
            }
        }
    );
</script>
</body>
</html>
