<!DOCTYPE html>
<html>
<head>
    <title>Телефонный справочник</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/libs/bootstrap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% block body %}{% endblock %}
<script src="/libs/jquery.js"></script>
<script src="/libs/bootstrap.bundle.js"></script>
<script src="/libs/vue.js"></script>
<script src="/javascripts/phoneBook.js"></script>
</body>
</html>
