
* {
    box-sizing: border-box;
}

body {
    margin: 12px;
    color: #868484;
    max-height: 100%;
    min-height: 80%;
    max-width: 1200px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.all_content {
    padding: 1px 24px 13px;
    width: 80%;
    height: 50%;
    background: #feeed6;
}

.all_content h1 {
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 5px;
}

all_content strong {
    margin-left: 25px;
}

.text p {
    text-indent: 15px;
    line-height: 20px;
}

.all_content b {
    color: #378db2;
    font-family: Arial, serif;
}

.comment {
    width: 99.7%;
    color: #868484;
    border: 0 solid #ccc;
}

div.comment {
    padding-top: 8px;
}

input.comment, textarea.comment {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 9px;
    padding-left: 12px;
}

.text {
    text-align: justify;
    line-height: 20px;
}

.indent {
    padding-top: 9px;
}

.headline h1 {
    background: white;
    margin-left: 24px;
    margin-bottom: -4px;
    font-weight: 100;
    font-family: Tahoma, sans-serif;
}

.button {
    width: 20.5%;
    height: 34px;
    background: #378db2;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 79%;
    cursor: pointer;
}

.button:hover {
    background: #3498db;
}

input::placeholder, textarea::placeholder {
    color: #ccc;
}

textarea {
    resize: none;
}